<div class="col-sm-12 col-md-12">&nbsp;</div>
<div class="col-sm-12 col-md-12">
    <div class="row">
        <div class="col-sm-1 col-md-1">
            <select name="number_page" class="custom-select custom-select-sm form-control form-control-sm"
                url_update="{{ request.get_full_path }} " onchange="pagination_update(this)">
                <option value="10" {% if page_obj.paginator.per_page == 10 %} selected {% endif %}>10</option>
                <option value="20" {% if page_obj.paginator.per_page == 20 %} selected {% endif %}>20</option>
                <option value="30" {% if page_obj.paginator.per_page == 30 %} selected {% endif %}>30</option>
                <option value="40" {% if page_obj.paginator.per_page == 40 %} selected {% endif %}>40</option>
                <option value="50" {% if page_obj.paginator.per_page == 50 %} selected {% endif %}>50</option>
            </select>
        </div>
        <div class="col-sm-1 col-md-1">
            <label>itens</label>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12">&nbsp;</div>
<script>
    function pagination_update(arg){
        url_to = arg.getAttribute('url_update').replace("/", "")
        new_pagination = arg.value
        new_url = url_to.replace(/(number_page=).*?(&)/, '')
        if (url_to.includes('?') && ! url_to.includes('number_page')){
            new_url = '/' + url_to + '&number_page=' + new_pagination
        }else{
            new_url = '?number_page=' + new_pagination
        }
        new_url = new_url.replace(" ", "")
        console.log(new_url)
        window.location.href = new_url;
    }
</script>